h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(10, 89, 108);
    
    
}

p{
    font-size: 30px;
    text-align: justify;
    font-family: caslon;
    color:rgb(0, 0, 0);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    
}

h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(57, 150, 174);
}

